{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">TOTAL</th>
        </tr>
    </thead>
<tbody>
    {% for row in rows %}
        <tr>
            <td class="text-start">{{ row["symbol"] }}</td>
            <td class="text-end">{{ row["shares"] }}</td>
            <td class="text-end">{{ row["price"] | usd }}</td>
            <td class="text-end">{% set x = row["price"] * row["shares"] %} {{ x | usd }}</td>
        </tr>
    {% endfor %}
</tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
            <td class="border-0 text-end">{{ cash | usd }}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
            <td class="border-0 w-bold text-end">{{ total | usd }}</td>
        </tr>
    </tfoot>
</table>

<form action="/" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" min="1" name="cash" placeholder="Cash" type="number">
    </div>
    <button class="btn btn-primary" type="submit">Add Cash</button>
</form>
{% endblock %}
